<%= render partial: "shared/nav" %>
<div id="Holidays">
<h2>Upcoming Holidays</h2>
<% @upcoming_holidays.each do |holiday|%>
 <p><%= holiday.name %> on <%= holiday.date %> </p>
<% end %>
</div>

<h3><%= @merchant.name %>'s Discounts </h3>
<div id="Discounts">
<% @bulk_discounts.each do |discount| %>
  <div id="<%= discount.id %>">
    <p>Discount ID: <%= link_to discount.id, merchant_bulk_discount_path(@merchant, discount) %></p>
    <p>Discount: <%= discount.percent_discount %>%</p>
    <p>Quantity Threshold: <%= discount.quantity_threshold %></p>
    <%= button_to 'Delete Discount', merchant_bulk_discount_path(@merchant, discount), method: :delete %>
    <p>-------------------------------------------</p>
  </div>
<% end %>
</div>

<div id="New_discount">
  <h3>Create New Bulk Discount</h3>
  <p> <%= link_to 'Create Discount', new_merchant_bulk_discount_path %></p>
</div>